<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NRDXboxStore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XboxVotingServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="XboxVotingServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://xbox2.sierrabravo.net/Xbox2.asmx" binding="basicHttpBinding"
        bindingConfiguration="XboxVotingServiceSoap" contract="NRDXboxVotingService.XboxVotingServiceSoap"
        name="XboxVotingServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <NRDXboxStore.Properties.Settings>
      <setting name="XboxServiceAPIKey" serializeAs="String">
        <value>21d83073dc0b487a8a4a85c7d563070d</value>
      </setting>
      <setting name="DaysOfWeekForVoting" serializeAs="Xml">
        <value>
          <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <int>1</int>
            <int>2</int>
            <int>3</int>
            <int>4</int>
            <int>5</int>
          </ArrayOfInt>
        </value>
      </setting>
      <setting name="MSPOfficeTimeZoneId" serializeAs="String">
        <value>Central Standard Time</value>
      </setting>
    </NRDXboxStore.Properties.Settings>
  </applicationSettings>
</configuration>